*,
*:before,
*:after{
  box-sizing: border-box;
}

body{
  background: #dedede;
  padding-top: 65px;
}

.header {
  padding: 16px 0 13px 0;
  background: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;

  display:block;
}

.header_search {
  border-radius: 0;
  border: 1px solid #ececec;
  padding-right: 28px;
  box-shadow: none;
}

.header_search_icon {
  position: absolute;
  right: 24px;
  top: 50%;
  transform: translate(0, -50%);
  opacity: 0.5;
}

.header_logo {
  color: #00a0c6;
  font-size: 24px;
  font-weight: 100;
}

.header_logo * {
  vertical-align: middle;
}

.header_user_profile {
  border: 1px solid #ececec;
  height: 34px;
  line-height: 34px;
  color: #c5c5c5;
}

.header_user_profile_button {
  border: 0 none;
  border-right: 1px solid #ececec;
  background: #ffffff;
  color: #c5c5c5;
  float: left;
  height: 100%;
  width: 34px;
}

.header_user_profile_button:hover {
  background: #00a0c6;
  color: #ffffff;
}

.header_user_profile_button:last-of-type {
  margin-right: 7px;
}

.girl_item{
  margin-top: 15px;
}

.girl_image_container{
  position: relative;
}

.girl_image{
  width: 100%;
}

.girl_image_overlay{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.3);
  z-index: 1;
  color: #ffffff;
}

.girl_image_container:hover .girl_image_overlay{
  display: block;
}

.girl_image_info{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.plus_button {
  width: 36px;
  height: 36px;
  padding: 0;
  line-height: 36px;
  border: 0 none;
  background: transparent;
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 1.2em;
}
.plus_button2 {
  width: 36px;
  height: 36px;
  padding: 0;
  line-height: 36px;
  border: 0 none;
  background: transparent;

  font-size: 1.2em;


}

.plus_button:hover {
  background: rgba(255,255,255, 0.8);
  color: #000000;
}
.plus_button2:hover {
  background: rgba(0,0,0, 0.2);
  color: #fff;
}
.girl_image_info2{
  color: rgba(0,0,0, 0.5);



}


.girl_info_container{
  background: #ffffff;
  padding: 15px 0;
  overflow: auto;
}
.clsRight{
  float:right;
}
.poster_avatar{
   width: 42px;
   height: 42px;
   float: left;
   margin-right: 10px;
 }
.poster_avatar2{
  width: 100px;
  height: 100px;
  float: left;
  margin-right: 10px;
}
.avatar_comment{
  width: 36px;
  height: 36px;
}

.girl_info_container h4,.girl_info_container h3,.girl_info_container h2,.girl_image_comment h4{
  margin: 0;
}
.girl_image_comment p{
  margin-left:46px;
}
.girl_info_container big{
  font-size:1.5em;
  color: #8a8a8a;
}
.girl_info_container small{
  color: #8a8a8a;
}

@media screen and (max-width: 768px){
  .header{
    position: static;
  }

  body{
    padding: 0;
  }
}


div#back-top{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color:#00A0C6;
  position:fixed;
  bottom:30px;
  z-index:9;
  text-align: center;
  right:10px;

}

div#back-top span{
  color: white;
  line-height: 45px;
  font-size: 30px;

}
div.end-page{
  border-bottom: 3px solid #A1A1A1;
  height: 20px;


}

div.dot{
  background-color: #DEDEDE;
  height: 20px;
  width: 200px;
  float:none;
  margin:0 auto;
  padding-left: 52px;


}
div.dot span {
  display: block;
  margin: 5px;
  float: left;
  color: #707070;
  font-size:20px;
  opacity: 0.66;
  width: 20px;
  height: 20px;

}
